﻿@using VerifikatorBilling.Models
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Billing";
}
@model BillingInsertViewModel

<form id="formbilling" onsubmit="submitformbilling(this)">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tanggal</label>
                <input required type="date" id="Tanggal" class="form-control" value="@Model.tanggal.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jam</label>
                <input required type="time" id="Jam" class="form-control" value="@Model.jam.ToString("hh"):@Model.jam.ToString("mm")" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Asal Pasien</label>
                <input type="text" value="@ViewBag.SectionAsalName" readonly class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Kelas</label>
                <select class="form-control" id="kelas">
                    @foreach (var x in StaticModel.ListKelas)
                    {
                        <option value="@x.Value" @(Model.kelas == x.Value ? "selected" : "")>@x.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Jumlah</label>
                <input id="Jumlah" type="text" class="form-control text-right" readonly value="@Model.jumlah.ToMoney()" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Dokter Pemgirim</label>
                                        <select class="form-control" id="DokterPengirim">
                                            <option value="@Model.dokterpengirim" selected>@ViewBag.DokterPengirimName</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Jenis Anatesi</label>
                                        <select class="form-control" id="JenisAnatesi">
                                            @foreach (var x in StaticModel.ListJenisAnatesi)
                                            {
                                                <option value="@x.Value" @(Model.jenisanatesi == x.Value ? "selected" : "")>@x.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Cito">Cito</label>
                                        <div>
                                            <input type="checkbox" id="Cito" @(Model.cito ? "checked" : "") />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Operator</label>
                                        <select required id="DokterID" class="form-control">
                                            <option value="@Model.dokter" selected>@Model.dokternama</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="tableinstrumen">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 60px;">
                                                            <a class="text-success-600" onclick="addtabledetaildokter(this)">
                                                                <i class="icon-add"></i>
                                                            </a>
                                                        </th>
                                                        <th>Instrumen</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.instrumen.Count() != 0)
                                                    {
                                                        for (var x = 0; x < Model.instrumen.Count; x++)
                                                        {
                                                            <tr>
                                                                <td class="text-center"><a class="text-danger-600" onclick="removedetaildokter(this)"><i class="icon-trash"></i></a></td>
                                                                <td>
                                                                    <select class="ready-to-select2">
                                                                        <option value="@Model.instrumen[x].Value">@Model.instrumen[x].Text</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="tableasistenanastesi">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 60px;">
                                                            <a class="text-success-600" onclick="addtabledetaildokter(this)">
                                                                <i class="icon-add"></i>
                                                            </a>
                                                        </th>
                                                        <th>Asisten Anastesi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.asistenanastesi.Count() != 0)
                                                    {
                                                        for (var x = 0; x < Model.asistenanastesi.Count; x++)
                                                        {
                                                            <tr>
                                                                <td class="text-center"><a class="text-danger-600" onclick="removedetaildokter(this)"><i class="icon-trash"></i></a></td>
                                                                <td>
                                                                    <select class="ready-to-select2">
                                                                        <option value="@Model.asistenanastesi[x].Value">@Model.asistenanastesi[x].Text</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Penanggung</label>
                                        <input type="text" class="form-control" readonly value="@ViewBag.PenanggungNama" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Hubungan</label>
                                        <input type="text" class="form-control" readonly value="@ViewBag.PenanggungHubungan" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Alamat</label>
                                <textarea type="text" class="form-control" readonly>@ViewBag.PenanggungAlamat</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="modalopenjasa()">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Dokter</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.detail.Count; i++)
                        {
                            <tr data-id="@Model.detail[i].id">
                                <td><a class="text-info-600" onclick="viewdetailjasa(@Model.detail[i].id, this)"><i class="icon-eye"></i></a> &nbsp; <a class="text-danger-600" onclick="removedetailjasa(this)"><i class="icon-trash"></i></a></td>
                                <td><input type="text" value="@Model.detail[i].jasaid" class="form-control" readonly></td>
                                <td><input type="text" value="@Model.detail[i].jasanama" class="form-control" readonly></td>
                                <td><input type="number" required onchange="updateqtyjasa(this, @Model.detail[i].id)" value="@Model.detail[i].qty" class="form-control text-right"></td>
                                <td><input type="text" value="@Model.detail[i].tarif.ToMoney()" class="form-control text-right" readonly></td>
                                <td><input type="text" value="@Model.detail[i].diskon.ToMoney()" class="diskon form-control text-right" readonly></td>
                                <td><input type="text" value="@Model.detail[i].namadokter" class="form-control" readonly></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</form>
@Html.Partial("LookUpBillingJasa")
<script>
    $('.ready-to-select2').select2(jsondokter());

    function addtabledetaildokter(t) {
        var tr = '<tr>';
        tr += '<td class="text-center"><a class="text-danger-600" onclick="removedetaildokter(this)"><i class="icon-trash"></i></a></td>';
        tr += '<td><select class="ready-to-select2"></select></td>';
        tr += '</tr>';
        var tbody = $(t.closest('table')).find('tbody');
        tbody.append(tr);
        tbody.find('.ready-to-select2').select2(jsondokter());
        tbody.find('.ready-to-select2').removeClass('ready-to-select2');
    }

    function removedetaildokter(t) {
        t.closest('tr').remove();
    }
</script>
<script>
    var lastid = @(Model.detail.Count - 1);
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)));

    function submitformbilling(t) {
        var asistenanastesi = $.map($('#tableasistenanastesi tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        var instrumen = $.map($('#tableinstrumen tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        var onloop = $.map($('#tableonloop tbody tr'), function (v) { var d = $(v).find('select'); return { Text: d.text(), Value: d.val() } });
        myajax({
            url: "@Url.Action("EditHD")",
            data: {
                nobukti: '@Model.nobukti',
                noreg: '@Model.noreg',
                section: '@Model.section',
                nomor: '@Model.nomor',
                audit: false,
                adaobat: false,
                kelas: $('#formbilling #kelas').val(),
                dokterpengirim: $('#formbilling #DokterPengirim').val(),
                jenisanatesi: $('#formbilling #JenisAnatesi').val(),
                cito: $('#formbilling #Cito')[0].checked,
                dokter: $('#formbilling #DokterID').val(),
                dokterasisten: $('#formbilling #DokterAsisten').val(),
                dokteranastesi: $('#formbilling #DokterAnastesi').val(),
                tanggal: $('#formbilling #Tanggal').val(),
                jam: $('#formbilling #Jam').val(),
                detail: headerdetail,
                asistenanastesi: asistenanastesi,
                instrumen: instrumen,
            },
            success: function (dt) {
                if (dt.IsSuccess) {
                    if ('@Request.IsAjaxRequest()' == 'True')
                    {
                        $('#formbilling').closest('.modal').modal('hide');
                        autorefresh('table_billing');
                        getdatabilling();
                    }
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

    var noreg = '@Model.noreg';
    var section = '@Model.section';
    function jsondokter() {
        return {
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        }
    }

    $('#formbilling #DokterPengirim').select2(jsondokter());
    $('#formbilling #DokterID').select2(jsondokter());
    $('#formbilling #DokterAnastesi').select2(jsondokter());
</script>