﻿<ul class="navigation navigation-main navigation-accordion">
    <!-- Main -->
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home4"></i> <span>Menu</span></a></li>
    <li>
        <a><i class="icon-cart5"></i> <span>Transaksi</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "RawatJalan")">Rawat Jalan</a></li>
            <li><a href="@Url.Action("Index", "RawatInap")">Rawat Inap</a></li>
        </ul>
    </li>
</ul>