﻿@model VerifikatorBilling.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = "Profile", Value = Url.Action("Index", "Manage") },
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h5 class="content-group">@ViewBag.Title</h5>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <a href="@Url.Action("Index", "Manage")" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to Profile</a>
                        <button type="submit" class="btn bg-teal-400 btn-labeled-right ml-10">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}