﻿@using VerifikatorBilling.Models
@model VerifikasiViewModel
@{
    ViewBag.Title = "Verifikasi";
    if (Request.Cookies["TipePelayanan"].Value == "RawatJalan")
    {
        ViewBag.breadcrumb = new List<SelectListItem>()
{
            new SelectListItem(){ Text = "Rawat Jalan", Value = "RawatJalan/Index" },
            new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
        };
    }
    else
    {
        ViewBag.breadcrumb = new List<SelectListItem>()
{
             new SelectListItem(){ Text = "Rawat Inap", Value = "RawatInapIndex" },
            new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
        };
    }

}
<div class="form-horizontal">
    <div class="panel panel-default wall" id="verifikatorAll">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">No Bukti</label>
                    <div class="col-md-8">
                        @if (Model.NoBukti == null)
                        {
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId","Verif")', '#NoBukti')">
                                        <i class="icon-sync"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        }
                        else
                        {
                            @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }
                        @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">No Reg / NRM</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Nama Pasien</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Tipe Pasien / Perusahaan</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.JenisKerjasama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JenisKerjasama, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Nama_Customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Nama_Customer, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Tgl Verifikasi</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.ToString("hh':'mm")) : "") } })
                        @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Catatan</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Catatan, htmlAttributes: new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group pt-5">
                    <div class="col-md-8 col-md-offset-4">
                        <button class="btn btn-success" onclick="openRincianBiaya();"> <span class="icon-file-text3 mr-5"></span> Rincian Biaya</button>
                        <button onclick="showFormUpdateKelas();" type="button" class="btn btn-primary"> <i class="icon-crown position-left"></i> UPDATE KELAS </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<ul class="nav nav-tabs" style="margin-bottom:0px">
    <li class="active"><a data-toggle="tab" href="#divbilling" onclick="autorefresh('billing')">Billing</a></li>
    <li><a data-toggle="tab" href="#divobat" onclick="autorefresh('obat')">Obat</a></li>
    <li><a data-toggle="tab" href="#divbhp" onclick="autorefresh('bhp')">BHP</a></li>
</ul>
<div class="tab-content panel panel-info" style="border-top:none">
    <div id="divbilling" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    @Html.Partial("ListBilling")
                </div>
            </div>
        </div>
    </div>
    <div id="divobat" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    @Html.Partial("ListObat")
                </div>
            </div>
        </div>
    </div>
    <div id="divbhp" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    @Html.Partial("ListBHP")
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Primary modal -->
<div id="modal_return" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"> <span class="icon-warning"></span> Verifikator Billing</h6>
            </div>

            <div class="modal-body">
                <p>Kembali ke Halaman Daftar Registrasi Pasien ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="location.reload();" class="btn btn-link">Tidak</button>
                <button type="button" onclick="autobacktohome();" class="btn btn-primary">Kembali</button>
            </div>
        </div>
    </div>
</div>
<!-- /primary modal -->

<script>
    var i_kembali = 3;
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });

    $(document).ready(function () {
        $('.icon-paragraph-justify3').click();
        getdatabilling();
    });

    function autorefresh(id) {
        if (id === 'billing') {
            getdatabilling();
        } else if (id === 'obat') {
            getdataobat();
        } else {
            getdatabhp();
        }
    }

    function autobacktohome() {
        if (i_kembali > 0)
            i_kembali--;
        if (i_kembali == 0) {
             window.location.href = '@Url.Action("Index", @Request.Cookies["TipePelayanan"].Value)';
        } else if (i_kembali > 0) {
            var t = setTimeout(autobacktohome, 1000);
        }
    }

    function openRincianBiaya() {
        var url = '@Html.Raw(Url.Action("DetailBiaya", "Verif", new { noreg = "@noreg" }))';
        url = url.replace('%40noreg', '@Model.NoReg');
        angular.element('#verifikatorAll').scope().ajaxmodal({
            url: url,
            header: 'Detail Biaya',
        });
    }

    function showFormUpdateKelas() {
        angular.element('#verifikatorAll').scope().ajaxmodal({
            url: '@(Url.Action("UpdateKelasRI", "Verif"))?noreg=@(Model.NoReg)',
            header: 'Update Kelas',
            size : 'md'
        });
    }
</script>