﻿@using VerifikatorBilling.Models
@model VerifikasiViewModel
@{
    var controllerName = "Verif";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_createObat";
    var tableId = $"table_{controllerName}_obat";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form" >
    @using (Ajax.BeginForm("Obat", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select class="form-control" id="FilterStatusObat" onchange="getdataobat()">
                                <option value="">All</option>
                                <option value="y">Sudah Audit</option>
                                <option value="n">Belum Audit</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="@tableId">
                            <thead>
                                <tr>
                                    <th class="middle">Action</th>
                                    <th>No Bukti</th>
                                    <th>Tanggal</th>
                                    <th>SectionID</th>
                                    <th>SectionName</th>
                                    <th>ID Dokter</th>
                                    <th>Nama Dokter</th>
                                    <th>Nilai</th>
                                    <th class="text-center">OK</th>
                                </tr>
                            </thead>
                            <tbody id="dataobat"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary" onclick="submitbuttonObat()">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
<script>
    function getdataobat() {
        myajax({
                url: '@Url.Action("GetDataObat", "Obat")',
                data: {
                    noreg: $('#NoReg').val(),
                    status: $('#FilterStatusObat option:selected').val()
                },
                method: 'POST',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'info');
                    else {
                        var r = '';
                        if (dt.Data.detail.length > 0) {
                            $.each(dt.Data.detail, function (index, value) {
                                var nobukti = "'" + value.NoBukti + "'";
                                var url = "'@Url.Action("Detail","Obat")'";

                                r += '<tr>';
                                r += '<td class="text-center"><a onclick="openmodalDetail(\'' + value.NoBukti + '\')"><i class="icon-eye"></i></a></td>';
                                r += '<td style="min-width:180px;"><input type="text" readonly class="input-sm form-control" value="' + value.NoBukti + '"></td>';
                                r += '<td style="min-width:120px;" class="hidden"><input type="text" readonly class="input-sm form-control" value="' + value.Tanggal + '"></td>';
                                r += '<td style="min-width:120px;"><input type="text" readonly class="input-sm form-control" value="' + value.Tanggal_View + '"></td>';
                                r += '<td style="min-width:120px;"><input type="text" readonly class="input-sm form-control" value="' + value.SectionID + '"></td>';
                                r += '<td style="min-width:180px;"><input type="text" readonly class="input-sm form-control" value="' + value.SectionName + '"></td>';
                                r += '<td style="min-width:120px;"><input type="text" readonly class="input-sm form-control" value="' + value.DokterID + '"></td>';
                                r += '<td style="min-width:180px;"><input type="text" readonly class="input-sm form-control" value="' + value.NamaDOkter + '"></td>';
                                r += '<td style="min-width:120px;"><input type="text" readonly class="input-sm form-control text-right" value="' + value.NilaiPendapatan_View + '"></td>';
                                r += '<td style="min-width:80px; text-align:center;"><input type="checkbox" class="" ' + (value.Transaksi_Dikunci === true ? 'checked' : '') + ' value="' + value.Transaksi_Dikunci + '"></td>';
                                r += '</tr>';
                                dataobat.innerHTML = r;
                            });
                        } else {
                            dataobat.innerHTML = r;
                        }
                    }
                }
            });

    }

    function submitbuttonObat() {
        var detail = [];
        var NoBukti, SectionID, NilaiPendapatan, Transaksi_Dikunci;
        var NoBuktiTransaksi = $('#NoBukti').val();
        var NoReg = $('#NoReg').val();
        var Tanggal = $('#Tanggal').val();
        var Jam = $('#Jam').val();
        var Catatan = $('#Catatan').val();
        $("#@tableId").find('tr').each(function(){
            NoBukti = $(this).find("td:eq(1) input[type='text']").val();
            SectionID = $(this).find("td:eq(4) input[type='text']").val();
            NilaiPendapatan = $(this).find("td:eq(8) input[type='text']").val();
            Transaksi_Dikunci = $(this).find("td:eq(9) input[type='checkbox']").is(':checked');
            //---->Form validation goes here
            if (NoBukti != undefined && NoReg != undefined && SectionID != undefined && NilaiPendapatan != undefined && Transaksi_Dikunci != undefined) {
                detail.push({
                    NoBukti: NoBukti,
                    NoReg: NoReg,
                    SectionID: SectionID,
                    NilaiPendapatan_View : NilaiPendapatan,
                    Transaksi_Dikunci: Transaksi_Dikunci
                });
            }
        });

        myajax({
        url: '@Url.Action("Obat", "Verif")',
        data: {
            NoBukti: NoBuktiTransaksi,
            NoReg: NoReg,
            Tanggal: Tanggal,
            Jam: Jam,
            Catatan: Catatan,
            detail: detail
        },
        method: 'POST',
        dataType: 'JSON',
        success: function (dt) {
            if (!dt.IsSuccess)
                alertpopup('gagal menyimpan', 'info');
            else {
                alertpopup('success', 'success');
                $('#modal_return').modal('show');
            }
        }
    });
    }

    function openmodalDetail(nobukti) {
        var url = '@Html.Raw(Url.Action("Detail", "Obat", new { nobukti = "@nobukti" }))';
        url = url.replace('%40nobukti', nobukti);
        angular.element('#@formName').scope().ajaxmodal({
            url: url,
            header: 'Detail',
            target_auto_refresh: '@tableId'
        });
    }

</script>
